@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    background-color: white;
    color: #0f172a;
}

.menu-table {
    border-width: thick;
    background-color:#f1f5f9;
    border-color: black;
    gap: 4em;
    border-top: 2pt solid rgb(0, 0, 0);
}

.days {
    border: 2pt solid #475569;
}

.weekday {
    border-bottom: 4pt solid #475569;
}

.rows {
    border-top: 2pt dashed #475569;
}
