@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.menu-table{
    border-width: thick;
    background-color: rgb(202, 57, 76);
    border-color:black;
    border-top: 2pt solid rgb(0, 0, 0) !important;
}

.days{
 
    border-bottom: 2pt solid black !important;
}

.rows{
    border-bottom: 2pt solid black !important;
}

